*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #182230;
}

body{
    padding-top: 100px;
}

/* #profile{
    margin-top: 120px;
} */

html{
    scroll-behavior: smooth;
}

/* header */

header{
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 0px 80px;
    height: 100px;
}

.logo{
    position: relative;
    height: 70%;
    width: 9%;
    margin-top: 1.6%;
    padding: 5px 0px;
}

nav ul{
    position: relative;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 3.7%;
}

nav ul li{
    padding: 0 0 0 90px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 4.5vh;
    text-transform: uppercase;
    transition: all 0.5s;
}

nav ul li a.active{
    color: yellow;
}


/* main */

.scroll{
    height: 100px;
}

main .section{
    margin: 20px 50px;
    background-color: #111827;
    border-radius: 10px;
    padding: 10px;
    height: 70vh;
}

main #profile .prince{
    height: 300px;
    width: 300px;
    margin-top: 40px;
    margin-left: 100px;
    border-radius: 10px;
}

.download{
    color: white;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid yellow;
    position: absolute;
    margin-top: 370px;
    left: 165px;
    transition: all.5s;
}

.download:hover{
    color: yellow;
    border: 1px solid white;
}

#profile h1{
    color: white;
    position: absolute;
    background-color: #111827;
    right: 230px;
    top: 200px;
    font-size: 40px;
    font-weight: 500;
    text-align: right;
}

#profile h1 span{
    color: yellow;
    background-color: #111827;
    font-weight: 600;
}

#profile .animation{
    position: absolute;
    right: 230px;
    top: 317px;
    background-color: #111827;
    color: white;
    font-size: 40px;
    font-weight: 600;
    color: yellow;
}

#profile .labels{
    position: absolute;
    display: flex;
    background-color: #111827;
    color: white;
    top: 500px;
    left: 550px;
}

#profile .labels p{
    background-color: #202c3a;
    margin: 0px 10px;
    padding: 3px 10px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

#profile .info{
    position: absolute;
    top: 465px;
    left: 565px;
    display: flex;
    background-color: #111827;
    color: white;
}

#profile .info .mail{
    display: flex;
    margin-right: 70px;
}

#profile .media{
    background-color: #111827;
    position: absolute;
    top: 140px;
    left: 1000px;
}

#profile .media img{
    height: 30px;
    width: 30px;
}

#profile .media a{
    background-color: #111827;
    margin: 0px 7.5px;
}

/* skills */

#skills{
    margin-top: 100px;
    color: white;
    height: 120vh;
    background-color: #111827;
}

#skills h1{
    background-color: #111827;
    text-align: center;
    font-size: 40px;
    text-decoration: underline white 2px;
}

#skills .skill{
    list-style: none;
    margin: 40px;
    background-color: #111827;
}

#skills ul{
    position: absolute;
    background-color: #111827;
}

#skills ul li{
    background-color: #111827;
    list-style: none;
}

#skills .skill .info{
    display: flex;
    margin-top: 70px;
    background-color:#111827;
}

#skills .skill .info img{
    width: 40px;
    height: 40px;
    margin-left: 2px;
    background-color: #111827;
}

#skills .skill .info p{
    position: relative;
    margin-left: 15px;
    font-weight: 600;
    font-size: 25px;
    margin-top: 0px;
    background-color: #111827;
}

#skills .skill .levels{
    position: absolute;
    margin-top: 20px;
    left: 105px;
    height: 15px;
    width: 200px;
    display: flex;
    justify-content: space-between;
    background-color: #111827;
}

#skills .skill .levels .level{
    height: 5px;
    width: 35px;
    border-radius: 1px;
}

#skills ul #second{
    position: absolute;
    left: 400px;
    top: 0px;
}

#skills ul #third{
    position: absolute;
    left: 800px;
    top: 0px;
}

.lang{
    margin-top: 450px;
}

.language{
    display: flex;
}

.language li{
    margin: 60px 90px;
}

.language img{
    height: 50px;
    width: 50px;
    margin-bottom: -20px;
    margin-right: 5px;
    background-color: #111827;
}

/* projects */

#project{
    margin-top: 100px;
    color: white;
    height: 58vh;
    background-color: #111827;
}

#project h1{
    background-color: #111827;
    text-align: center;
    font-size: 40px;
    text-decoration: underline white 2px;
}

#project .logo{
    position: absolute;
    width: 150px;
    height: 65px;
    background-color: #111827;
    left: 120px;
    top: 1640px;
}

#project h2{
    position: absolute;
    background-color: #111827;
    left: 310px;
    top: 1650px;
    color: yellow;
}

#project p{
    position: absolute;
    background-color: #111827;
    left: 310px;
    top: 1680px;
}

#project .details p{
    position: absolute;
    left: 100px;
}

#project .details p span{
    color: rgb(138, 138, 138);
    background-color: #111827;
}

.line{
    position: absolute;
    height: 200px;
    width: 1px;
    left: 632px;
    margin-top: 50px;
    border: 1px solid white;
}

#project .pro2 .logo{
    position: absolute;
    width: 150px;
    height: 60px;
    background-color: #111827;
    left: 700px;
    top: 1640px;
}

#project .pro2 h2{
    position: absolute;
    background-color: #111827;
    left: 890px;
    top: 1650px;
    color: yellow;
}

#project .pro2 p{
    position: absolute;
    background-color: #111827;
    left: 890px;
    top: 1680px;
}

#project .pro2 .details p{
    position: absolute;
    left: 680px;
}

/* education */

#education{
    margin-top: 100px;
    color: white;
    height: 51.5vh;
}

#education h1{
    background-color: #111827;
    text-align: center;
    font-size: 40px;
    text-decoration: underline white 2px;
}

#education .edu1 .logo{
    height: 120px;
    width: 120px;
    position: absolute;
    background-color: #111827;
    left: 100px;
    top: 2080px;
}

#education .edu2 .logo{
    height: 120px;
    width: 120px;
    position: absolute;
    background-color: #111827;
    left: 680px;
    top: 2080px;
}

#education .edu1 h2{
    position: absolute;
    background-color: #111827;
    left: 250px;
    top: 2100px;
    color: yellow;
}

#education .edu2 h2{
    position: absolute;
    background-color: #111827;
    left: 830px;
    top: 2100px;
    color: yellow;
}

#education .edu1 h3{
    position: absolute;
    background-color: #111827;
    left: 250px;
    top: 2130px;
    font-weight: 400;
    color: white;
}

#education .edu2 h3{
    position: absolute;
    background-color: #111827;
    left: 830px;
    top: 2130px;
    font-weight: 400;
    color: white;
}

#education .edu1 p{
    position: absolute;
    background-color: #111827;
    color: rgb(186, 186, 186);
    left: 250px;
    top: 2185px;
    font-size: 16px;
}

#education .edu2 p{
    position: absolute;
    background-color: #111827;
    color: rgb(186, 186, 186);
    left: 830px;
    top: 2158px;
    font-size: 16px;
}

#education .edu1 .result span{
    color: yellow;
    background-color: #111827;
}

#education .edu2 .result span{
    color: yellow;
    background-color: #111827;
}

#education .edu1 .result{
    position: absolute;
    background-color: #111827;
    color: white;
    left: 250px;
    top: 2210px;
    font-size: 16px;
}

#education .edu2 .result{
    position: absolute;
    background-color: #111827;
    color: white;
    left: 830px;
    top: 2183px;
    font-size: 16px;
}

#education .edu2 .outer{
    background-color: #111827;
}

#education .edu2 .website{
    height: 30px;
    width: 30px;
    background-color: #111827;
}

/* footer */

footer p{
    margin-top: 80px;
    padding: 20px 0px;
    background-color: #111827;
    color: white;
    text-align: center;
}

footer p span{
    font-weight: 700;
    font-size: 17px;
    background-color: #111827;
}